/* CSS 코드 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff2020; /* 헤더 배경색을 원하는 색상으로 변경 */
    padding: 10px;
    text-decoration:none;
}

.menu-section {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

.menu-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* 메뉴 항목 테두리 스타일을 설정 */
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

/* 다른 CSS 스타일을 추가하여 디자인을 개선하세요 */
